:root {
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --card-set-gap: 30px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.link {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.button {
  font-family: inherit;
  padding: 10px 32px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secondary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
  outline: none;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  padding: 48px 40px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-50%) translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.page-header__mobile-menu-btn {
  position: absolute;
  top: 22px;
  right: 15px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

.icon-menu,
.icon-cross {
  position: absolute;
  top: 22px;
  right: 15px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: hidden;
  pointer-events: initial;
  transform: translateX(-50%) translateY(0%);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.social-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon:hover, .social-list-icon:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.2);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 95vw;
  max-width: 450px;
  height: 95vh;
  height: 610px;
  overflow-y: scroll;
  background-color: #ffffff;
  border-radius: 5px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:focus {
  fill: var(--accent-color);
}

.form__title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-title-color);
}

.form__label {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 10px;
}

.form__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__wrapper {
  position: relative;
  display: block;
}

.form__input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.form__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.check__input {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__description {
  vertical-align: baseline;
  color: var(--primary-text-color);
}

.form__description::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  outline: none;
  margin-right: 8px;
  outline: 1px solid #212121;
  cursor: pointer;
}

.check__input:checked + .form__description::before {
  background-color: var(--accent-color);
  outline: none;
  background-image: url("../icon_2/icon_check.svg");
}

.check__input:focus + .form__description::before {
  background-color: var(--accent-color);
  border-radius: 2px;
  outline: none;
  background-image: url("../icon_2/icon_check.svg");
}

.form__link {
  color: var(--accent-color);
}

.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .page-header .page-header__mobile-menu-btn {
    display: none;
  }
  .page-header .page-header__mobile-menu-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .page-header .page-header__mobile-menu-icon {
    width: 40px;
    height: 40px;
    fill: #000000;
  }
  .page-header .page-header__mobile-menu-icon:hover, .page-header .page-header__mobile-menu-icon:focus {
    fill: var(--accent-color);
  }
}

.logo-1 {
  padding: 25px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-2 {
  color: #000000;
}

.logo-3 {
  color: var(--secondary-title-color);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 93px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.auth-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .auth-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    align-items: center;
  }
}

.site-nav__link {
  flex-basis: auto;
  justify-content: center;
  padding: 32px 0;
  color: inherit;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link:hover,
  .site-nav__link:focus,
  .auth-nav__link:hover,
  .auth-nav__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__link {
    margin-bottom: 10px;
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__icon {
    fill: var(--primary-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav__link:hover .auth-nav__icon,
  .auth-nav__link:focus .auth-nav__icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .link--active {
    color: var(--accent-color);
  }
  .link--active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.hero {
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 280px), (min-resolution: 192dpi) and (min-width: 280px), (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-mobile@2x.jpg");
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-desktop.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-desktop@2x.jpg");
  }
}

.hero__title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.feature-list {
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature__item {
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

.feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}

.feature__description {
  line-height: 1.71;
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services {
    margin-bottom: 94px;
  }
}

.services-list,
.list-team {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.services__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.services__actions {
  position: relative;
  overflow: hidden;
}

.services__overlay {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  background-color: rgba(47, 48, 58, 0.8);
}

.services__overlay:hover {
  opacity: 0;
}

.services__description {
  padding: 27px 0;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.team__item {
  width: 100%;
  max-width: 450px;
  align-items: center;
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  text-align: center;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

.team__photo {
  width: 100%;
}

.team__full-name {
  margin: 30px auto 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.team__list-icon {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -10px;
  margin-left: -10px;
}

.team__icon {
  margin-top: 10px;
  margin-left: 10px;
  flex-basis: calc(100% / 4 - 10px);
}

.team__social-link {
  fill: #afb1b8;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.client__item {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc(100% / 6 - var(--card-set-gap));
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-side {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-left-side {
  display: block;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-left-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-left-side {
    flex-direction: row;
    display: inline-block;
    flex-basis: calc((100% - var(--card-set-gap)) / 2);
  }
}

.footer-right-side {
  display: block;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-right-side {
    flex-direction: row;
    display: inline-block;
    flex-basis: calc((100% - var(--card-set-gap)) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-top: var(--card-set-gap);
    margin-right: var(--card-set-gap);
  }
}

.footer-contacts,
.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts,
  .footer-link {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: calc((100% - var(--card-set-gap)) / 2);
  }
}

.footer-logo {
  padding-top: 0;
  padding-bottom: 0;
}

.contacts-address {
  padding-top: 20px;
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .address-list {
    align-items: flex-start;
  }
}

.address__item :not(:last-child) {
  margin-bottom: 9px;
  text-align: center;
}

.address__text {
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  font-style: normal;
  color: var(--secondary-title-color);
}

.footer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  height: 16px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.list-icon {
  display: inline-flex;
  justify-content: space-between;
}

.list-icon__item:not(:last-child) {
  margin-right: 10px;
}

.list-icon__link {
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.form-mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .form-mailing {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.form-mailing__input {
  margin-bottom: 20px;
  width: 90vw;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--secondary-title-color);
}

@media screen and (min-width: 768px) {
  .form-mailing__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-mailing__input {
    width: 358px;
  }
}

.form-mailing__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-mailing__button {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .form-mailing__button {
    display: flex;
    margin-left: 12px;
  }
}

.form-mailing__text {
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.form-mailing__icon {
  display: inline-block;
  align-items: center;
  margin-left: 10px;
}

.contant-page {
  padding: 60px 0;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .contant-page {
    padding: 94px 0;
  }
}

/* Filter card */
.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  flex-basis: calc(100% / 5 - 8px);
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

.filter__button {
  margin-top: 15px;
  margin-left: 8px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--primary-title-color);
  background-color: #f5f4fa;
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Card list */
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.product {
  width: 100%;
  align-items: center;
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

@media screen and (min-width: 768px) {
  .product {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .product {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

.product__link {
  display: block;
  text-decoration: none;
}

.card-set .product__link:hover,
.card-set .product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__thumb {
  position: relative;
  overflow: hidden;
  background-color: #eeeeee;
}

.product__overlay {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover .product__overlay {
  transform: translateY(0);
}

.product__description {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.product__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.product__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.product__type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */