.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-side {
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-left-side {
  display: block;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - var(--card-set-gap)) / 2);
  }
}
.footer-right-side {
  display: block;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    display: inline-block;
    flex-basis: calc((100% - var(--card-set-gap)) / 2);
  }
}
.footer-contacts {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 76px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: var(--card-set-gap);
    margin-right: var(--card-set-gap);
  }
}

.footer-link {
  @media screen and (min-width: 768px) {
    margin-right: 89px;
  }
}

.footer-contacts,
.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: calc((100% - var(--card-set-gap)) / 2);
  }
}

.footer-logo {
  padding-top: 0;
  padding-bottom: 0;
}
.contacts-address {
  padding-top: 20px;
}
.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}
.address__item :not(:last-child) {
  margin-bottom: 9px;
  text-align: center;
}
.address__text {
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  font-style: normal;
  color: var(--secondary-title-color);
}
.footer-title {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  height: 16px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);

  @media screen and (max-width: 1199px) {
    align-items: center;
  }
}
.list-icon {
  display: inline-flex;
  justify-content: space-between;
}
.list-icon__item:not(:last-child) {
  margin-right: 10px;
}
.list-icon__link {
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}
.form-mailing {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}
.form-mailing__input {
  margin-bottom: 20px;
  width: 95vw;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--secondary-title-color);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.form-mailing__button {
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
.form-mailing__text {
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.form-mailing__icon {
  display: inline-block;
  align-items: center;
  margin-left: 10px;
}
