.contant-page {
    padding: 94px 0;
    background-color: #ffffff;
  }
  /* Filter card */
  .filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-basis: calc((100% - 40px) / 5);
  }
  .filter__button {
    margin-left: 8px;
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--primary-title-color);
    background-color: #f5f4fa;

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--secondary-title-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  /* Card list */
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .product {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
  .product__link {
    display: block;
    text-decoration: none;

    .card-set &:hover,
    .card-set &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  .product__thumb {
    position: relative;
    overflow: hidden;
    background-color: #eeeeee;
  }
  .product__overlay {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .product__link:hover & {
      transform: translateY(0);
    }
  }
  .product__description {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .product__content {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  .product__name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
  }
  .product__type {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
  }