.services {
    margin-bottom: 104px;
  }
  .services-list,
  .list-team {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .services__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
  .services__actions {
    position: relative;
    overflow: hidden;
  }
  .services__overlay {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 1;
    background-color: rgba(47, 48, 58, 0.8);

    &:hover {
      opacity: 0;
    }
  }
  .services__description {
    padding: 27px 0;
    font-weight: bold;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-title-color);
  }