.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.team__item {
  width: 100%;
  max-width: 450px;
  align-items: center;
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  text-align: center;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

.team__photo {
  width: 100%;
}
.team__full-name {
  margin: 30px auto 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}
.team__list-icon {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -10px;
  margin-left: -10px;
}
.team__icon {
  margin-top: 10px;
  margin-left: 10px;
  flex-basis: calc(100% / 4 - 10px);
}
.team__social-link {
  fill: #afb1b8;
}
